.board-container{
    display: grid;
    place-content: center;
    height: 100vh;
}
.gameboard{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(69, 117, 248);
}
.tile{
    height: 50px;
    width: 50px;
    text-align: center;
    border: solid 1px rgba(198, 223, 252, 0.527);
}
