
.board-container{
    display: grid;
    place-content: center;
    /* height: 100vh; */
}
.gameboard{
    /* height: 500px;
    width: 500px; */
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(69, 117, 248); */
    background-color: cornflowerblue;
}
.tile{
    display: grid;
    place-content: center;
    height: 100px;
    width: 100px;
    /* background: cornflowerblue; */
    border: solid rgba(255, 255, 255, 0.158) 1px;
    transition: all 1s;
}

.ship{
    background-color: rgb(81, 93, 146);
    clip-path: polygon(12% 0, 12% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 23% 100%, 87% 99%, 88% 0);
}
.atacked {
    background-color: rgb(255, 123, 0);

}
.sink {
    background-color: rgb(209, 11, 11);
}
.miss{
    background-color: rgba(255, 255, 255, 0.801);
    clip-path: circle(28.2% at 50% 50%);
}


.showShip{
    border: solid  rgba(248, 202, 50, 0.733);
}

.experimento{
    background-color: brown;
    -webkit-transform: translateZ(0);
}

.experimento::before{
    -webkit-transition-duration: 0.3s;
    content: '';
    /* Características que forman el tríangulo */
    border-color: transparent #a8cf45 
                  transparent transparent;
    border-style: solid;
    clip-path: polygon(39% 0, 67% 0, 100% 100%, 0% 100%);
       /* Posicionamiento del Triángulo */
    top: 0;
    position: absolute;
    top: -webkit-calc(50% - 15px);
}
.experimento:hover:before {
    top: -15px;
  }

/* 
.tamaño1{
    width:{},
    height:{},
    si cambia de direccion 
    transform:vertical
}
.tamaño2{
    width:{},
    height:{},
    si cambia de direccion 
    transform:vertical
}
.tamaño3{
    width:{},
    height:{},
    si cambia de direccion 
    transform:vertical
}
.tamaño4{
    width:{},
    height:{},
    si cambia de direccion 
    transform:vertical
}
.tamaño5 {
    width:{},
    height:{},
    si cambia de direccion 
    transform:vertical
}
*/