/* 
    General Styles
*/
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@200;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bangers";
  background-color: rgb(186, 186, 240);
}
.first-page-container {
  margin-top: 20vh;
  
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.iconShip {
  position: absolute;
  z-index: -6;
  opacity: .5;
  height: 9rem;
}
.first-page-title {
  font-size: 5em;
  place-items: center;
}
.first-title {
  font-size: 3rem;
}
tr {
  margin: 0;
  background-color: rgba(167, 167, 170, 0.452);
  border: #dedcf1;
}
.rowss {
  height: 50px;
  width: 50px;
  background-color: hsl(226, 98%, 63%);
  border: #dedcf12f solid 1px;
}

.boton {
  font-size: inherit;
  background-color: orange;
  cursor: pointer;
  color: #333;
  height: 3em;
  text-align: center;
  margin: 1em;
}
.boton:hover,
.boton:focus {
  background-color: hsl(30, 100%, 40%);
}

/* .ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}
.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
  background-color: red;
  /* background-color: rgb(204, 204, 204); 
} */
.ship-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  /* background-color: #2d2b4265; */
  height: 80%;
  margin: 2em;
}
.ship{
  background-color: rgba(119, 119, 121, 0.726);
  height: 2em;  
  margin: 1em;
  border-radius: 20%;
}
.ship-vertical{
  background-color: rgba(119, 119, 121, 0.726);
  width: 20px;
  padding: 2em;
}
.one-preview{
 width: 3em;
}
.one {
}
.two-preview{
  width: 6em;
 }
 .two {
 }
 .three-preview{
  width: 9em;

 }
 .three {
 }
 .four-preview{
  width: 12em;
 }
 .four {
 }
 .five-preview{
  width: 15em;
 }
 .five {
}

/* .one-vertical {
  --height: 2;
  --width: 1;
}
 */
.showShips{
  border: solid orange 1px;
}
