/* 
    General Styles
*/

/* body {
  background-color: rgb(186, 186, 240);
  d-flex align-items-end
} */
/* ///////////////////////////FIRST ATTEMPT ->////////////////////////////////////// */
*{
  font-family: 'Bangers', cursive;
  letter-spacing: 10px;

}
.first-page-container {
  margin-top: 20vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
 .iconShip {
  position: absolute;
  z-index: -6;
  font-size: 450px;
  font-stretch: expanded;
  color: rgba(128, 128, 128, 0.253);
}
.first-page-title {
  background: url( https://media.istockphoto.com/id/1170947236/video/drone-view-of-the-ocean-waves-splashing.jpg?b=1&s=640x640&k=20&c=E26TQJhFJMatApuiI3hd9cnw-vpYt9R9XF-lSYqkDdk=) no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text;
  display: block;
  text-align: center;
  font: weight 400;
  background-size: cover;
  font-size: 6rem;
  place-items: center;
  letter-spacing: 20px;
  /* color: rgb(216, 209, 198);} */
}
.first-title {
  font-size: 3rem;
} 
.showShips{
  border: solid orange 1px;
}
.boton {
  font-size: 1.5em;
  letter-spacing: 1em;
  background-color: black;
  cursor: pointer;
  color: #0a383a;
  padding: 0.5em;
  text-align: center;
  margin: 1em;
  margin-top: 2em;
}
.boton:hover,
.boton:focus {
  background-color: rgb(45, 184, 202);
  /* color: #343532; */
}
tr {
  margin: 0;
  background-color: rgba(167, 167, 170, 0.452);
  border: #dedcf1;
}
/* .rowss {
  height: 50px;
  width: 50px;
  background-color: hsl(226, 98%, 63%);
  border: #dedcf12f solid 1px;
} 
.ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}
.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
  background-color: red;
   background-color: rgb(204, 204, 204); 
}
.ship-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: #2d2b4265;
  height: 80%;
  margin: 2em;
}
.ship{
  background-color: rgba(119, 119, 121, 0.726);
  height: 2em;  
  margin: 1em;
}
.ship-vertical{
  background-color: rgba(119, 119, 121, 0.726);
  width: 20px;
  padding: 2em;
} 
 .one-preview{
 width: 3em;
}
.one {
}
.two-preview{
  width: 6em;
 }
 .two {
 }
 .three-preview{
  width: 9em;

 }
 .three {
 }
 .four-preview{
  width: 12em;
 }
 .four {
 }
 .five-preview{
  width: 15em;
 }
 .five {
}  .one-vertical {
  --height: 2;
  --width: 1;
}
 */

