@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.wrapper{
    font-family: 'Bangers', cursive;
    width: fit-content;
    color: rgb(255, 60, 0);
transition: all 2s;
    /* background: rgb(26, 29, 34) url('https://www.kindpng.com/picc/m/55-551450_cartoon-ocean-background-ocean-waves-cartoon-png-transparent.png') no-repeat fixed bottom; */
    /* background: var(--sea); */
    /* background-blend-mode: screen; */
    /* background-blend-mode: hard-light; */
}
/*crear efectos para los barcos flotando, para los disparos salpicando, para sunken con fuego, para miss en otro color o una valla flotando
para la pag de inicio al apretar start que tenga una hacia el juego, y restart que ponga todo en 0
*/
:root{
    --black: rgba(2, 15, 19, 0.308);
    --blue: rgba(41, 142, 172, 0.623);
    --aqua:  rgba(41, 172, 128, 0.623);
    --white:rgba(255, 255, 255, 0.329);
    --transparent: rgba(27, 109, 216, 0.856);
    --semitransparent: rgba(7, 156, 167, 0.397);
    --orange: rgb(255, 136, 0);
    --square: 50px;
    --container: 1050px;
    --spacing: 1em;
    --sea: rgb(26, 29, 34)  url( https://media.istockphoto.com/id/1170947236/video/drone-view-of-the-ocean-waves-splashing.jpg?b=1&s=640x640&k=20&c=E26TQJhFJMatApuiI3hd9cnw-vpYt9R9XF-lSYqkDdk=);
    /* https://media.istockphoto.com/id/930686884/vector/waves-seamless-pattern-vector-ocean-sea-water-blue-cut-out-paper-style.jpg?s=612x612&w=0&k=20&c=YtlZKLzo2quyn4I77jyBDHAeaGaVtFyk-ib0SCIPJU4= */
    --metalMilitar: rgb(26, 29, 34) 
    /* url(https://img.freepik.com/foto-gratis/fondo-marco-metal-grunge_1048-11682.jpg?w=740&t=st=1691992751~exp=1691993351~hmac=7a7f61f69959ad875ece1554abfdedf58a6c65dbd823c48ff91bec76c9c5d14f) fixed center; */
    url(https://img.freepik.com/fotos-premium/fondo-textura-metal-industrial-verde-abstracto-remaches-pernos_76080-7165.jpg) center top ;
    --metalMilitar2: rgb(26, 29, 34) 
    url(https://img.freepik.com/foto-gratis/fondo-marco-metal-grunge_1048-11682.jpg?w=740&t=st=1691992751~exp=1691993351~hmac=7a7f61f69959ad875ece1554abfdedf58a6c65dbd823c48ff91bec76c9c5d14f) center top ;
    /* url(https://img.freepik.com/fotos-premium/fondo-textura-metal-industrial-verde-abstracto-remaches-pernos_76080-7165.jpg) center top content-box; */
    --metalMilitar3: rgb(26, 29, 34) 
    url( https://img.freepik.com/vector-gratis/puerta-metal-puertas-correderas-pasillo-nave-espacial_107791-3348.jpg?w=900&t=st=1691993209~exp=1691993809~hmac=beced92b4cde4ae233001f584e53732330ed299fd26fd296da2119b92faed075) no-repeat ;
    /* url(https://img.freepik.com/fotos-premium/fondo-textura-metal-industrial-verde-abstracto-remaches-pernos_76080-7165.jpg) center top content-box; */
}
.turn-display{
    /* display: flex; */
    flex-direction: row;
    /* background: var(--metalMilitar2); */
    /* background-position-y: center; */
    letter-spacing: var(--spacing);
    font-size: large;
    object-fit: cover;
}
.usercolor{
    color: aqua;
}
.usernullcolor{
    color: rgb(255, 60, 0) !important;
}
.enemyuser{
    color: rgba(19, 159, 194, 0.527);
}
.footer{
    background: var(--bs-teal)
}
.somex{
    transition: all 1s;
}
.botones{
    color: rgb(255, 60, 0) !important;
    letter-spacing: var(--spacing);
    margin: inherit;
}
.light-shadow{
    box-shadow: 0px 0px 5px 1px rgb(243 231 231 / 89%);
}
.ship-box{
    letter-spacing: 0.8em;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;

    /* color: rgb(3, 65, 65) ; */
    /* background-color: red; */
}
.icon{
    /* height: 20px; */
justify-self: center;    
color: rgb(255, 123, 0);
}
.wrapper{
    font-family: 'Bangers', cursive;
    display: grid;
    place-items: center;
}
.backgr{
    background: var(--white);
    /* background-position: center; */
    text-align: end;
    color: rgb(255, 60, 0) !important;

}
.rigoBaby{
    /* width: 110px; */
    height: 40px;
    border-radius: 35% 50% 50% 35%
}
.PcShipBorder{
border: 3px dashed yellow !important;
color: rgb(49, 48, 48);
z-index: -1;
}
.ship-3.ship-box{
    width:calc(30px*3);
    border-radius: 35% 50% 50% 35%;
}
.ship-4.ship-box{
    width:calc(30px*4);
    border-radius: 35% 50% 50% 35%;
}
.ship-5.ship-box{
    width:calc(30px*5);
    border-radius: 35% 50% 50% 35%;
}
.ship-3{
    width:calc(50px*3);
    margin: inherit;
    border-radius: 35% 50% 50% 35%;
}
.ship-4{
    width:calc(50px*4);
    margin: inherit;
    border-radius: 35% 50% 50% 35%;
}
.ship-5{
    width:calc(50px*5);
    margin: inherit;
    border-radius: 35% 50% 50% 35%;
}
.ship-3.rigoBaby.align-diagonal{
    width:calc(50px*3);
    height: 42px;
}
.ship-4.rigoBaby.align-diagonal{
    width:calc(57px*4);
    height: 46px;
    margin-top: 45px;
    margin-left: 45px;
}
/* .ship-4.rigoBaby.align-horizontal.align-vertical{
    margin:0
} */
.ship-4.rigoBaby.align-horizontal{
    margin-right: 50px;    
}
.ship-4.rigoBaby.align-vertical{
    margin-top: 50px;
}
.ship-5.rigoBaby.align-diagonal{
    width:calc(57px*5);
    height: 47px;
}
.ship-5.rigoBaby.align-horizontal{
    margin-right: 0px;    /* funciona */
}
.destroyer{
    background-position-y: center;
}
.submarine{
    background-position-y: center;
}
.carrier{
    background-position-y: center;
}
.battleship{
    background-position-y: center;
}
/* .cruiser-diagonal{
    background-position-y: center;
} */
.align-vertical{
    rotate: 90deg;
}
.align-diagonal{
    rotate: 45deg;
}
.sea{
    background: var(--sea);
    background-size: cover;
}
.gameBoard-container{
    width: var(--container);
    height: fit-content;
    margin-bottom: 2em; 
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}
.game-board{
    background-color: var(--aqua);
    width: 500px;
    /* height: 300px; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.lightSquare{
    background: var(--white)!important;
}
.wrongSquare{
    background: var(--orange)!important;
}
.square .lightSquare {
    background-color: rgba(240, 248, 255, 0.685);
}/*que se ilumine on hover al pasar el barco por encima, red si esta mal y blanco si esta bien*/

.square{
    width: var(--square);
    height: var(--square);
    border: solid 0.2px var(--white);
    background-color: inherit;
    display: grid;
    place-content: center;
    /* height: 100px;
    width: 100px; */
    /* background: cornflowerblue; */
    /* border: solid rgba(255, 255, 255, 0.158) 1px; */
    transition: all 1s;
}
.square-top{
    display: flex;
    justify-content: center;
    text-align: center;
}

.square-top.flex-row span{
    width: 50px;
    height: 1.7em;
}
.square-top.flex-column span{
    padding-top: 17px;
    padding-left: 8px;
    height: 50px;
    width: 2em;}
/* .square-top span{
    border: solid var(--white) 1px;
} */
.board-wrapper{
    /* background-color: rgba(22, 22, 22, 0.377); */
    background-color: rgba(104, 103, 105, 0.377);
}
.option-container{
    /* background-color: gray;   */
    padding: 3em;
}
.option-container-wrapper{
    width: fit-content;
    margin: 0;
    margin: auto;
    display: grid;
    justify-items:center;
    align-items: center;
    background-color: rgba(127, 255, 212, 0.171);
    box-shadow: 0px 0px 5px 1px rgb(243 231 231 / 89%);
    /* flex-column  align-items-center  */
}

.sub-title{
    font-size: 2em;
}
.buttons-container{
    flex-direction: row;
}
.round-btn-icon{
    padding: 0.2em;
    border-radius: 50px;
    background-color: rgb(18, 19, 17);
    font-weight: 900;
}
.shot{
    background-color: rgba(2, 2, 85, 0.336);
}
.giLog-icon{
    font-size: larger;
    color: rgb(20, 139, 218)!important;
}
.GiWaterSplash-icon{
    font-size: 1.5em;
    color: rgb(134, 217, 250);
}
.GiBlast-icon{
    font-size: 2em;
    color: rgb(236, 82, 11);

}
.modal-content{
    background-color: rgb(25, 50, 104);
  
}