@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.wrapper{
  font-family: 'Bangers', cursive;
    background: rgb(26, 29, 34) url('https://www.kindpng.com/picc/m/55-551450_cartoon-ocean-background-ocean-waves-cartoon-png-transparent.png') no-repeat fixed bottom;
    background-size:110% 110%;
    background-blend-mode: screen;
}

/* div:nth-child(2) {
    background: red;
  } */

:root{
    --blue: rgba(41, 142, 172, 0.623);
    --aqua:  rgba(41, 172, 128, 0.623);
    --white:rgba(255, 255, 255, 0.329);
    --transparent: rgba(27, 109, 216, 0.856);
    --semitransparent: rgba(7, 156, 167, 0.712);
    --orange: rgb(255, 136, 0);
    --square: 50px;
    --container: 1050px;
    --spacing: 6px;
    --metalMilitar: rgb(26, 29, 34) 
    /* url(https://img.freepik.com/foto-gratis/fondo-marco-metal-grunge_1048-11682.jpg?w=740&t=st=1691992751~exp=1691993351~hmac=7a7f61f69959ad875ece1554abfdedf58a6c65dbd823c48ff91bec76c9c5d14f) fixed center; */
    url(https://img.freepik.com/fotos-premium/fondo-textura-metal-industrial-verde-abstracto-remaches-pernos_76080-7165.jpg) center top ;
    --metalMilitar2: rgb(26, 29, 34) 
    url(https://img.freepik.com/foto-gratis/fondo-marco-metal-grunge_1048-11682.jpg?w=740&t=st=1691992751~exp=1691993351~hmac=7a7f61f69959ad875ece1554abfdedf58a6c65dbd823c48ff91bec76c9c5d14f) center top ;
    /* url(https://img.freepik.com/fotos-premium/fondo-textura-metal-industrial-verde-abstracto-remaches-pernos_76080-7165.jpg) center top content-box; */
    --metalMilitar3: rgb(26, 29, 34) 
    url( https://img.freepik.com/vector-gratis/puerta-metal-puertas-correderas-pasillo-nave-espacial_107791-3348.jpg?w=900&t=st=1691993209~exp=1691993809~hmac=beced92b4cde4ae233001f584e53732330ed299fd26fd296da2119b92faed075) no-repeat ;
    /* url(https://img.freepik.com/fotos-premium/fondo-textura-metal-industrial-verde-abstracto-remaches-pernos_76080-7165.jpg) center top content-box; */

}
.turn-display{
    /* display: flex; */
    flex-direction: row;
    color: rgb(255, 60, 0) !important;
    background: var(--metalMilitar2);
    /* background-position-y: center; */

    letter-spacing: var(--spacing);
    font-size: large;
    object-fit: cover;
}
.b{
    background-color: rgba(90, 138, 122, 0.568);
    /* background: var(--metalMilitar3);
    background-size:cover ; */
    /* color: rgb(255, 123, 0); */
    letter-spacing: var(--spacing);

}
.botones{
    background: var(--metalMilitar);
    color: rgb(255, 60, 0) !important;
    letter-spacing: var(--spacing);
    margin: inherit;
    background-blend-mode: hard-light;
    text-align:end;
}
.option-container{
    padding-top: 8em;
}
.icon{
    /* height: 20px; */
justify-self: center;    
color: rgb(255, 123, 0);
}
.wrapper{
    font-family: 'Bangers', cursive;
    display: grid;
    place-items: center;
}

/* .shipcolor{

} */
.backgr{
    background: var(--white);
    /* background-position: center; */
    text-align: end;
    color: rgb(255, 60, 0) !important;

}
.ship-3{
    width:calc(50px*3);
    margin: inherit;
    border-radius: 35% 50% 50% 35%;}
.ship-4{
    width:calc(50px*4);
    margin: inherit;
    border-radius: 35% 50% 50% 35%;
}
.ship-5{
    width:calc(50px*5);
    margin: inherit;
    border-radius: 35% 50% 50% 35%;
}
.destroyer{
    /* background-color: rgb(17, 50, 112); */
    background: var(--metalMilitar2);
    background-position-y: center;

}
.submarine{
    background-color: rgb(12, 38, 85);
    /* background: var(--metalMilitar2); */
    background-position-y: center;

}
.cruiser{
    /* background-color: rgb(24, 67, 148); */
    background: var(--metalMilitar2);
    background-position-y: center;

}
.battleship{
    /* background-color: rgb(31, 86, 187); */
    background: var(--metalMilitar2);
    background-position-y: center;

}
.carrier{
    /* background-color: rgb(41, 108, 233); */
    background: var(--metalMilitar2);
    background-position-y: center;

}
.destroyer-preview{
    width: 20px;
    height: 15px;
    margin: 3px;
    }
.submarine-preview{
    width: 40px;
    height: 15px;
    margin: 3px;
    }
.cruiser-preview{
    width: 60px;
    height: 15px;
    margin: 3px;
    }
.battleship-preview{
    width: 60px;
    height: 15px;
    margin: 3px;
    }
.carrier-preview{
    width: 80px;
    height: 15px;
    margin: 3px;
    }
.align-vertical{
    transform: rotate(90deg);
}
.align-horixzontal{
    transform: rotate(180deg);
}
.align-diagonal{
    transform: rotate(45deg);
}
.gamesBoard-container{

    width: var(--container);
    height: fit-content;
    margin-bottom: 2em; 
    display: flex;
    justify-content: space-around;
}
.game-board{
    background-color: var(--aqua);
    /* background: url( https://media.istockphoto.com/id/1170947236/video/drone-view-of-the-ocean-waves-splashing.jpg?b=1&s=640x640&k=20&c=E26TQJhFJMatApuiI3hd9cnw-vpYt9R9XF-lSYqkDdk=) no-repeat;
    background-size:cover;
    background-blend-mode:darken; */
    /* https://media.istockphoto.com/id/930686884/vector/waves-seamless-pattern-vector-ocean-sea-water-blue-cut-out-paper-style.jpg?s=612x612&w=0&k=20&c=YtlZKLzo2quyn4I77jyBDHAeaGaVtFyk-ib0SCIPJU4= */
    width: 500px;
    /* height: 300px; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.square{
    width: var(--square);
    height: var(--square);
    border: solid 0.2px var(--white);
    background-color: inherit;
    display: grid;
    place-content: center;
    /* height: 100px;
    width: 100px; */
    /* background: cornflowerblue; */
    /* border: solid rgba(255, 255, 255, 0.158) 1px; */
    transition: all 1s;
}
.square-top{
    background-color: rgba(91, 95, 94, 0.11);
    display: flex;
    justify-content: space-between;
}